

.welcome-section {
  background: $color-off-white;
  color: $text-dark;
  @include flex-column-center;



  .welcome-small {
    font-size: $font-size-md;
    @include text-uppercase-spaced;
    margin-bottom: $spacing-lg;
  }

  .welcome-logo {
    height: $logo-height-small;
    margin-bottom: $spacing-2xl;
  }


  .welcome-text-wrapper {
    position: relative;
    height: 160px;
    margin-bottom: $spacing-3xl;
    width: 100%;
  }

  .welcome-title,
  .welcome-description {
    position: absolute;
    width: 100%;
    @include absolute-center-x;
    text-align: center;
    @include transition-slow(opacity);
    @include transition-slow(transform);
  }

  .welcome-title {
    font-size: $font-size-5xl;
    font-weight: $font-weight-normal;
    opacity: 1;
    transform: translateX(-50%);
  }

  .welcome-description {
    opacity: 0;
    max-width: 680px;
    font-size: $font-size-lg;
    line-height: 1.6;
    transform: translateX(-50%);
  }



  .luxury-carousel {
    width: 100%;
    overflow: hidden;
    padding-bottom: $spacing-xl;
  }

  .luxury-track {
    display: flex;
    align-items: center;
    gap: 16px; 
    width: max-content;

    animation: luxury-marquee 40s linear infinite;
  }

  .luxury-slide {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      object-fit: cover;
      border-radius: 0;
    }

 
    &:nth-child(odd) img {
      width: 200px;
      height: 100px;
    }

 
    &:nth-child(even) img {
      width: 150px;
      height: 200px;
    }
  }
}



@keyframes luxury-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
