.welcome {
  background: $color-off-white;
  color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 40px 0 0 0;
  position: relative;
  overflow: hidden;

  &__eyebrow {
    font-size: $font-size-md;
    @include text-uppercase-spaced;
    margin-bottom: 8px;
  }

  &__logo {
    height: 40px;
    margin-bottom: 80px;
  }

  &__text-wrapper {
    text-align: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    position: relative;
    z-index: 10;
  }

  &__title {
    font-size: 40px;
    font-weight: 400;
    color: $color-black !important;
    line-height: 1.2;
    margin: 0;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative;
    z-index: 11;
  }

  &__carousel {
    width: 100%;
    overflow: hidden;
    margin-top: auto;
  }

  &__carousel-track {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    width: max-content;
    animation: luxury-marquee 40s linear infinite;
  }

  &__carousel-slide {
    flex-shrink: 0;

    img {
      display: block;
      object-fit: cover;
    }

    &:nth-child(odd) img {
      width: 200px;
      height: 100px;
    }

    &:nth-child(even) img {
      width: 150px;
      height: 200px;
    }
  }
}

@keyframes luxury-marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
