.logo {
  display: block;
  z-index: $z-index-header;

  &__img {
    display: block;
    height: 32px;
    width: auto;
    object-fit: contain;

    &--large {
      height: 54px;
    }

    &--hero {
      height: 20px;
    }
  }
}
