.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  border-radius: $border-radius-circle;
  background: $bg-transparent-light;
  cursor: pointer;
  @include flex-center;
  z-index: 5;
  @include transition-default;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%) scale(1.1);
  }

  &__icon {
    width: 18px;
    height: 18px;
    display: block;
    pointer-events: none;
    filter: invert(1);
  }

  &.prev {
    left: 12px;
  }

  &.next {
    right: 12px;
  }
}
