*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $color-black;
  color: $color-white;
  font-family: $font-family-primary;
  overflow-x: hidden;
  line-height: 1.5;
}


button {
  @include button-reset;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

html {
  scroll-behavior: smooth;
}
