
@font-face {
  font-family: 'Sequel';
  src: url('../assets/fonts/sequel.woff2') format('woff2');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap; 
}



body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.6;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-normal;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-3xl;
}

h2 {
  font-size: $font-size-5xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-2xl;
}



p {
  margin-bottom: 0;
}



.text-uppercase {
  @include text-uppercase-spaced;
}

.text-truncate {
  @include text-truncate;
}
