@mixin absolute-cover {
  position: absolute;
  inset: 0;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@mixin respond-to($breakpoint) {
  @if $breakpoint ==mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }

  @else if $breakpoint ==tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }

  @else if $breakpoint ==desktop {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }

  @else if $breakpoint ==wide {
    @media (min-width: $breakpoint-wide) {
      @content;
    }
  }
}



@mixin transition($properties...) {
  transition: $properties;
}

@mixin transition-default($property: all) {
  transition: $property $transition-fast $transition-ease;
}

@mixin transition-medium($property: all) {
  transition: $property $transition-medium $transition-ease;
}

@mixin transition-slow($property: all) {
  transition: $property $transition-slow $transition-ease;
}


@mixin button-reset {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

@mixin button-base {
  @include button-reset;
  @include transition-default;

  &:hover {
    @content;
  }
}



@mixin section-full-height {
  height: $viewport-height;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}



@mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin background-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-uppercase-spaced {
  text-transform: uppercase;
  letter-spacing: $letter-spacing-tight;
}


@mixin overlay($color: $overlay-dark) {
  @include absolute-cover;
  background: $color;
}

@mixin custom-scrollbar($width: 8px, $thumb-color: $color-medium-gray, $track-color: transparent) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $width / 2;

    &:hover {
      background: darken($thumb-color, 10%);
    }
  }
}



